
            <md-content>
                <p class="Welcome-to-Shoppingpad">Welcome to Shoppingpad</p>

                <p class="To-list-your-busines">To list your business we need following details:</p>
                <form name="myForm" ng-app="shoppingPad" ng-controller="businessCtrl" class="container-fluid"
                      ng-submit="submit()">
                    <div class="row">
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <label>Bussiness Title</label>
                                <md-icon md-svg-icon="assets/images/drive.svg"></md-icon>
                                <input class="Create-your-business"  name="name" id="name" ng-model="obj.name" ng-required="true">

                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Campaign Name is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="assets/images/assignment.svg"></md-icon>
                                <md-select name="myselect" id="myselect" placeholder="Create your business URL" ng-model="obj.myselect"
                                           ng-required="true">
                                    <md-option ng-repeat="o in options" ng-value="o">{{o}}</md-option>
                                </md-select>
                                <div ng-messages="myForm.myselect.$error">
                                    <div ng-message="required">URL is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="assets/images/mail.svg"></md-icon>
                                <input name="email" id="email" placeholder="Email" ng-model="obj.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">

                                <div ng-messages="myForm.email.$error" >
                                    <div ng-message="required">Campaign email is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="assets/images/place.svg"></md-icon>
                                <input name="name" id="location" placeholder="Location" ng-model="obj.location" ng-required="true">

                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Campaign Location is required.</div>
                                </div>
                            </md-input-container>.

                        </div>

                    </div>
                    <div class="Rectangle-581">

                    </div>
                    <div class="Proximity-to-serve">
                        <span>Proximity to serve</span>
                        <!--<div class="Shape"></div>-->
                    </div>
                    <!--<md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class>-->
                    <!--</md-slider>-->
                    <!--<md-button type="button" ng-click="reset()">RESET</md-button>-->
                    <!--<md-button class="md-primary" ng-disabled="myForm.$invalid">SUBMIT</md-button>-->
                    <md-toolbar class="Rectangle-4091" style="background-color: #9013fe; ">
                        <div class="md-toolbar-tools">
                            <md-button class="SUBMIT" ng-disabled="myForm.$invalid" aria-label="Settings">
                                <span style="margin-left: 120px;" >SUBMIT</span>
                            </md-button>
                        </div>
                    </md-toolbar>
                </form>

        </div>
        </md-content>
