<!DOCTYPE html>
<html lang="en-US">
<head>
    <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../assets/css/style.css"/>
</head>


<body ng-app="shoppingPad">

<!--Complete layout-->
<div layout-lt-lg="row" class="screen-bg">
    <div flex-lt-lg="100">

        <!--header-->
        <div ng-controller="chipCtrl as ctrl" layout="column" ng-cloak>
            <h2 class="md-title">Use the default chip template.</h2>
            <md-chips ng-model="ctrl.fruitNames"></md-chips>
            <br/>
            </md-chips>

            </md-content>
        </div>

    </div>
</div>
</div>
<script src="../bower_components/angular/angular.js" type="text/javascript"></script>
<script src="../bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
<script src="../bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
<script src="../bower_components/angular-material/angular-material.js" type="text/javascript"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../app.js"></script>
<script src="../controller/registerCtrl.js"></script>
<script src="../controller/BusinessCtrl.js"></script>
<script src="../controller/chip.js"></script>

</body>
</html>
