<div>
    <md-content>
        <div>
            <p class="Please-wait-for-One">Please wait for One Time Password!</p>


            <p class="We-have-sent-an-OTP">We have send a OTP on your registered mobile no</p>
        </div>

        <div style="margin-top: 30px">

            <form name="myForm" ng-app="starterApp" ng-controller="signInCtrl" class="container-fluid" ng-submit="submit()" style="margin-top: 46px">
                <div class="row" style="margin-left: 16px">
                    <div class="formHeight">
                        <md-input-container>
                            <md-icon md-svg-icon="assets/images/device.svg"></md-icon>
                            <input placeholder="Registered mobile no" ng-model="{{retriveData.name}}">

                        </md-input-container>
                    </div>

                    <div class="formHeight">
                        <md-input-container>
                            <md-icon md-svg-icon="assets/images/lock.svg"></md-icon>
                            <input placeholder="Enter 3-Dsecure pin" ng-model="{{retriveData.security}}">

                        </md-input-container>
                    </div>

                    <div class="formHeight">
                        <md-input-container>
                            <md-icon md-svg-icon="assets/images/lock.svg"></md-icon>
                            <input type="text" placeholder="Enter OTP" name="OTP" id="OTP" ng-model="OTP" ng-required="true">
                            <div ng-messages="myForm.name.$error">
                                <div ng-message="required">Enter OTP.</div>
                            </div>

                        </md-input-container>
                    </div>

                </div>

                <div>
                    <p style="text-align: center">Timer</p>
                    <span>{{seconds}}</span>
                </div>

                <div>
                    <md-toolbar style="margin-top: 230px;">
                        <md-button class="md-primary" ng-disabled="myForm.$invalid" style="margin-top: 15px" ng-click="login()">NEXT</md-button>
                    </md-toolbar>
                </div>
            </form>

        </div>
    </md-content>
</div>