<!--content-->
<md-content >
    <h3 style="text-align: center">Welcome to ShoppingPad</h3>
    <div style="margin-top: 156px">
    </div>
    <div>
        <md-toolbar class="Rectangle-409" style="background-color: #9013fe;">
            <div class="md-toolbar-tools">

                <md-button class="SIGNIN" aria-label="SIGNIN" ng-click="signin()">
                    SIGNIN
                </md-button>
                <!--<h2>-->
                <!--<span>Sign in</span>-->
                <!--</h2>-->
                <span flex=""></span>
                <a ui-sref="app.home.register2"><md-button class="REGISTER" aria-label="Favorite" >
                    REGISTER
                </md-button></a>
            </div>
        </md-toolbar>
    </div>
</md-content>
<!-- footer-->
<div>
</div>
