<!DOCTYPE html>
<html lang="en-US">
<head>
    <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../assets/css/style.css"/>
</head>


<body >

<!--Complete layout-->
<div layout-lt-lg="row" class="screen-bg">
    <div flex-lt-lg="100">

        <!--header-->
        <div>
            <md-toolbar class="app-bar-bg" style="background-color: #9013fe;">
                <div class="status-bar-bg"></div>
                <div class="md-toolbar-tools">

                    <md-button class="md-icon-button" aria-label="Settings">
                        <!--<md-icon md-svg-icon="app/images/back1.svg"></md-icon>-->
                    </md-button>
                    <h2>
                        <span></span>
                    </h2>
                    <span flex=""></span>
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <!--<md-icon md-svg-icon="app/images/a.svg"></md-icon>-->
                    </md-button>
                </div>
            </md-toolbar>
            <md-content>
                <p class="Welcome-to-Shoppingpad">Welcome to Shoppingpad</p>

                <p class="To-list-your-busines">To list your business we need following details:</p>
                <form name="myForm" ng-app="shoppingPad" ng-controller="businessCtrl" class="container-fluid"
                      ng-submit="submit()">
                    <div class="row">
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <label>Bussiness Title</label>
                                <md-icon md-svg-icon="../assets/images/drive.svg"></md-icon>
                                <input class="Create-your-business"  name="name" id="name" ng-model="obj.name" ng-required="true">

                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Campaign Name is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="../assets/images/assignment.svg"></md-icon>
                                <md-select name="myselect" id="myselect" placeholder="Create your business URL" ng-model="obj.myselect"
                                           ng-required="true">
                                    <md-option ng-repeat="o in options" ng-value="o">{{o}}</md-option>
                                </md-select>
                                <div ng-messages="myForm.myselect.$error">
                                    <div ng-message="required">URL is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="../assets/images/mail.svg"></md-icon>
                                <input name="email" id="email" placeholder="Email" ng-model="obj.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">

                                <div ng-messages="myForm.email.$error" >
                                    <div ng-message="required">Campaign email is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container class="Path-688">
                                <md-icon md-svg-icon="../assets/images/place.svg"></md-icon>
                                <input name="name" id="location" placeholder="Location" ng-model="obj.location" ng-required="true">

                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Campaign Location is required.</div>
                                </div>
                            </md-input-container>.

                        </div>

                    </div>
                    <div class="Rectangle-581">

                    </div>
                    <div class="Proximity-to-serve">
                        <span>Proximity to serve</span>
                        <!--<div class="Shape"></div>-->
                    </div>
                    <!--<md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class>-->
                    <!--</md-slider>-->
                    <!--<md-button type="button" ng-click="reset()">RESET</md-button>-->
                    <!--<md-button class="md-primary" ng-disabled="myForm.$invalid">SUBMIT</md-button>-->
                    <md-toolbar class="Rectangle-4091" style="background-color: #9013fe; ">
                        <div class="md-toolbar-tools">
                            <md-button class="SUBMIT" ng-disabled="myForm.$invalid" aria-label="Settings">
                                <span style="margin-left: 120px;" >SUBMIT</span>
                            </md-button>
                        </div>
                    </md-toolbar>
                </form>

        </div>
        </md-content>

    </div>
</div>
</div>
<script src="../bower_components/angular/angular.js" type="text/javascript"></script>
<script src="../bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
<script src="../bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
<script src="../bower_components/angular-material/angular-material.js" type="text/javascript"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../app.js"></script>
<script src="../controller/registerCtrl.js"></script>
<script src="../controller/BusinessCtrl.js"></script>

</body>
</html>


