<!---->

<div>
    <md-content>
        <div>
            <p class="Please-wait-for-One">Please wait for One Time Password!</p>


            <p class="We-have-sent-an-OTP">We have send a OTP on your registered mobile no</p>
        </div>

        <div style="margin-top: 30px">

            <form name="myForm" ng-app="starterApp" ng-controller="signInCtrl" class="container-fluid" ng-submit="submit()" style="margin-top: 157px">
                <div class="row" style="margin-left: 16px">
                    <div class="col-xs-8">
                        <md-input-container>
                            <md-icon md-svg-icon="images/device.svg"></md-icon>
                            <input ng-model="">

                        </md-input-container>
                    </div>

                    <div class="col-xs-8">
                        <md-input-container>
                            <md-icon md-svg-icon="images/lock.svg"></md-icon>
                            <input ng-model="">

                        </md-input-container>
                    </div>

                </div>
                <div>
                    <md-toolbar style="margin-top: 175px;">
                        <md-button class="md-primary" ng-disabled="myForm.$invalid" style="margin-top: 15px" ng-click="login()">NEXT</md-button>
                    </md-toolbar>
                </div>
            </form>

        </div>
    </md-content>
</div>