<!--content-->
    <div>
        <md-content ng-app="shoppingPad" ng-controller="loginController">
            <p class="Welcome-to-ShoppingP">Welcome to ShoppingPad</p>
            <div>
                <form name="myForm" ng-app="shoppingPad" class="myForm" ng-submit="submit()">
                    <div class="row formData" >
                        <div class="col-xs-8">
                            <md-input-container>
                                <md-icon md-svg-icon="assets/images/device.svg"></md-icon>
                                <input type="number" placeholder="Enter registered mobile no" ng-pattern="/^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$/" name="mobile" id="mobile" ng-model="mobile" ng-required="true">
                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Registered mobile no.</div>
                                    <div ng-message="minlength">too short</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-xs-8">
                            <md-input-container>
                                <md-icon md-svg-icon="assets/images/lock.svg"></md-icon>
                                <input type="password" placeholder="Enter 3-D secure pin" name="password" id="password" ng-model="password" ng-required="true" minlength="6">
                                <div ng-messages="myForm.name.$error">
                                    <div ng-message="required">Enter Pin no(6-digit).</div>
                                    <div ng-message="minlength">too short</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <!-- end of login form-->

                    <!-- login toolbar-->
                    <div>
                    <md-toolbar class="loginToolBar">
                        <md-button class="md-primary" ng-disabled="myForm.$invalid" style="margin-top: 15px;outline: none;" ng-click="login()">LOGIN</md-button>
                    </md-toolbar>
                    </div>
                </form>
            </div>
        </md-content>

    </div>


<!--ng-controller="loginCtrl"-->